<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}<title>Juggling Idea Generator</title>{% endblock %}
    <meta charset="UTF-8">
</head>
<body>
    {% block sidebar %}
    <ul class="sidebar-nav">
        <li><a href="{% url 'patterns:index' %}">Overview</a></li>
        <li><a href="">Training Plan</a></li>
        <li><a href="">Training Statistics</a></li>
        <li><a href="">Goals</a></li>
        {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}">Log out</a></li>
        {% else %}
            <li><a href="{% url 'login' %}">Log in</a></li>
        {% endif %}
    </ul>
    {% endblock %}
    {% block content %}{% endblock %}
</body>
</html>
