{% extends "base_generic.html" %}

{% block content %}
    <h1>Pattern</h1>
    <table>
        <tr>
            <td>Siteswap</td>
            <td>: {{ pattern.siteswap }}</td>
        </tr>
        <tr>
            <td>Prop type</td>
            <td>: {{ pattern.prop_type }}</td>
        </tr>
        <tr>
            <td>Body throws</td>
            <td>{% for body_throw in pattern.bodythrow_set.all %}: {{ body_throw }}<br>{% endfor %}</td>
        </tr>
        <tr>
            <td>Modifiers</td>
            <td>{% if pattern.modifier %}: {{ pattern.modifier }}<br>{% endif %}</td>
        </tr>
    </table>
    <h1>Pattern difficulty</h1>
    <table>
        <tr>
            <td>Number of objects</td>
            <td>: {{ pattern.difficulty.n_objects }}</td>
        </tr>
        <tr>
            <td>Max height throw - min height throw</td>
            <td>: {{ pattern.difficulty.max_height_minus_min_height }}</td>
        </tr>
        <tr>
            <td>Body throw difficulty</td>
            <td>: {{ pattern.difficulty.body_throw_difficulty }}</td>
        </tr>
    </table>

    {% if user.is_authenticated %}
        <h1>Your pattern logs</h1>
    {% endif %}

    <h1>Choose your difficulty</h1>

    <h1>Patterns of a similar difficulty</h1>
    <a href="">Pick me a pattern!</a>
    {% for similar_pattern in pattern_list %}
        {% if similar_pattern.difficulty.n_objects == pattern.difficulty.n_objects %}
            {% if similar_pattern != pattern %}
            <br>
            <a href="{% url 'patterns:detail' similar_pattern.id %}">{{ similar_pattern }}</a>
            {% endif %}
        {% endif %}
    {% endfor %}
{% endblock %}