{% extends "base.html" %}

{% block content %}

    <table>
        {% for row in row_list %}
            <tr>
                {% for column in column_list %}
                <td>
                    {% for goal in goal_list %}
                        {% if goal.row == row %}
                            {% if goal.column == column %}
                                {{ goal }}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>

{% endblock %}