{% extends "base_generic.html" %}

{% block content %}
    <h1>Patterns Index</h1>
    <h2>Solo Patterns</h2>
    {% for prop_type in prop_type_list %}
        <h2>{{ prop_type|capfirst }}s</h2>
        <ul>
        {% for pattern in pattern_list %}
            {% if pattern.prop_type == prop_type %}
                <li><a href="{% url 'patterns:detail' pattern.id %}">{{ pattern }}</a></li>
            {% endif %}
        {% endfor %}
        </ul>
    {% endfor %}
    <h2>2 Person Passing Patterns</h2>
{% endblock %}
