<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Juggling Idea Generator</title>
</head>
<body>
    <h1>Patterns Index</h1>
    {% if pattern_list %}
        {% for prop_type in prop_type_list %}
            <h2>{{ prop_type }}s</h2>
            <ul>
            {% for pattern in pattern_list %}
                {% if pattern.prop_type == prop_type %}
                    <li><a href="{% url 'patterns:detail' pattern.id %}">{{ pattern }}</a></li>
                {% endif %}
            {% endfor %}
            </ul>
        {% endfor %}
    {% else %}
        <p>No patterns are available.</p>
    {% endif %}
</body>
</html>
